code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Fira Mono', Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 0.9rem;
  color: var(--color-text-primary);
  background-color: var(--color-pre-bg);
  text-align: left;
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  overflow-x: auto;

  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
