code[class*='language-'],
pre[class*='language-'] {
  font-family: 'Fira Mono', Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 0.9rem;
}

.toc-wrapper,
li {
  margin: 0.5rem 0;
}

.toc-wrapper,
li > a {
  padding-left: 8px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toc-wrapper,
p > a {
  padding-left: 2px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.active {
  color: var(--color-primary);
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}
