@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #d23669;
    --color-background: #fff;
    --color-text: #111111;
    --text-custom-gray: #696969;
    --color-hyperlink: #646cff;
    --article-background: #f0f0f066;
    --article-border: #0a2647;
    --button-text: #fff;
    --color-code-block: #f7f6f3;
    --color-code-highlight-border: rgba(0, 0, 0, 0.2);
  }

  :root[class='dark'] {
    --color-primary: #ffa7c4;
    --color-background: #1c1c1e;
    --color-text: #cbd5e0;
    --text-custom-gray: #8c8c8c;
    --color-hyperlink: #9499ff;
    --article-background: #27272a66;
    --article-border: #ffffff0d;
    --button-text: #000;
    --color-code-block: #252525;
    --color-code-highlight-border: rgba(255, 255, 255, 0.2);
  }

  body {
    font-family: Spoqa Han Sans Neo, system-ui, sans-serif !important;
    letter-spacing: -0.025em;
    min-height: 100vh;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: theme(colors.text);
    background-color: theme(colors.background);
  }

  header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Spoqa Han Sans Neo, system-ui, sans-serif;
  }

  a > svg {
    fill: theme(colors.primary);
  }

  ::selection {
    background-color: theme(colors.primary);
    color: theme(colors.button-text);
  }
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/SpoqaHanSansNeo-Regular.woff2) format('woff2'),
    url(/fonts/SpoqaHanSansNeo-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Bold';
  src: url(/fonts/SpoqaHanSansNeo-Bold.woff2) format('woff2'),
    url(/fonts/SpoqaHanSansNeo-Bold.woff) format('woff');
}
