@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-cursor {
  @apply cursor-none;
}

.hide-cursor * {
  cursor: none !important;
}

@layer utilities {
  .focus-primary {
    @apply focus:outline-none focus-within:outline-none ring-primary ring-offset-4 ring-offset-white transition duration-300 focus-within:ring-2 focus-within:ring-primary hover:ring-2 hover:ring-primary focus:ring-2 focus:ring-primary disabled:ring-0 group-hover:ring-2 group-hover:ring-primary group-focus:ring-2 group-focus:ring-primary dark:ring-offset-gray-900;
  }
}

@layer base {
  /* Noto Sans KR */
  @font-face {
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/NotoSansKr-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Noto Sans KR';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/NotoSansKr-Bold.woff2') format('woff2');
  }

  :root {
    /* set variables */
    --color-blue-300: #86bff2;
    --color-blue-500: #36a3ff;
    --color-white: #fff;
    --color-black: #000;
    --color-black-700: #383636;
    --color-black-750: #333d4b;
    --color-black-800: #252525;
    --color-black-850: #111111;
    --color-black-900: hsla(0, 0%, 0%, 0.07);
    --color-zinc-900: #1c1c1e;
    --color-slate-200: #ecf0f2;
    --color-slate-500: #a9adc1;
    --color-slate-700: #334155;
    --color-neutral-300: #cbd5e0;
    --color-gray-100: #f7f7f7;
    --color-gray-200: #e6e9ee;
    --color-gray-300: #dde0e4;
    --color-gray-350: #d2d2d2;
    --color-gray-400: #8c8c8c;
    --color-gray-500: #535661;
    --color-gray-600: #4b4c53;
    --color-gray-700: #3a3d4a;
    --color-gray-800: #2e3039;
    --color-gray-900: #1f2028;
    --color-red-500: #ff4545;
    --color-cyan-50: #bbdef2;

    --color-primary: var(--color-blue-500);

    /* contents */
    --color-text-primary: var(--color-black-850);
    --color-text-secondary: var(--color-white);
    --color-text-inner: var(--color-white);
    --color-bg-primary: var(--color-white);
    --color-bg-secondary: var(--color-gray-100);
    --color-bg-inner: var(--color-black);
    --color-bg-divider: rgba(0, 0, 0, 0.15);
    --color-border-primary: var(--color-slate-200);
    --color-border-secondary: var(--color-slate-700);
    --color-all-custom-gray: var(--color-slate-500);
    --color-bg-tag: var(--color-gray-100);

    /* markdown */
    --color-paragraph-text: var(--color-black-750);
    --color-border-highlight: var(--color-black-900);
    --color-th-highlight: var(--color-gray-100);
    --color-blockquote: var(--color-gray-900);
    --color-pre-bg: var(--color-gray-100);
    --color-pre-border: var(--color-gray-300);
    --color-token-keyword: #d73a49;
    --color-token-property: #6f42c1;
    --color-token-operator: #005cc5;
    --color-token-function: #e36209;
    --color-token-punctuation: #000;
    --color-token-string: #22863a;
    --color-code-highlight-border: rgba(0, 0, 0, 0.2);
    --color-text-strong: var(--color-zinc-900);
  }

  /* 브라우저에서 번역을 통해 다른 클래스가 추가되는 경우에 대비하여 `dark` 클래스가 있을 때 다른 클래스가 있는지 여부에 관계없이 적용되도록 함 */
  /* class가 dark로 시작하거나 또는 dark가 포함된 경우 */
  :root[class^='dark'],
  :root[class*=' dark'] {
    --color-primary: var(--color-blue-300);

    /* contents */
    --color-text-primary: var(--color-neutral-300);
    --color-text-secondary: var(--color-zinc-900);
    --color-text-inner: var(--color-black);
    --color-bg-primary: var(--color-zinc-900);
    --color-bg-secondary: var(--color-gray-800);
    --color-bg-inner: var(--color-white);
    --color-bg-divider: rgba(255, 255, 255, 0.15);
    --color-border-primary: var(--color-black-700);
    --color-border-secondary: var(--color-slate-700);
    --color-all-custom-gray: var(--color-gray-400);
    --color-bg-tag: var(--color-gray-700);

    /* markdown */
    --color-paragraph-text: var(--color-gray-350);
    --color-border-highlight: var(--color-gray-700);
    --color-th-highlight: var(--color-black-900);
    --color-blockquote: var(--color-gray-100);
    --color-pre-bg: var(--color-black-800);
    --color-pre-border: var(--color-black-900);
    --color-token-keyword: #cc99cd;
    --color-token-property: #f8c555;
    --color-token-operator: #67cdcc;
    --color-token-function: #f08d49;
    --color-token-punctuation: #ccc;
    --color-token-string: #7ec699;
    --color-code-highlight-border: rgba(255, 255, 255, 0.2);
    --color-text-strong: var(--color-white);
  }

  .custom-cursor {
    position: fixed;
    height: 65px;
    width: 65px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    top: 0;
    left: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    transition: 0.15s all cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 9999;
    will-change: transform;
  }

  header,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Noto Sans KR', system-ui, sans-serif;
  }

  a > svg {
    fill: theme(colors.primary);
  }

  ::selection {
    background-color: theme(colors.primary);
    color: #fff;
  }

  @keyframes gradientMovement {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .gradient-text {
    background-image: linear-gradient(
      90deg,
      #f2056f 0.11%,
      #d6cbf6 25.06%,
      #7b8fdd 50%,
      var(--color-blue-300) 74.8%,
      var(--color-blue-500) 99.76%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    background-size: 200% 200%;
    animation: gradientMovement 6s ease infinite;
  }

  .clickable-element {
  }

  .moving-element {
    transition: all 200ms ease-out !important;
    will-change: transform;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-text-primary) !important;
  -webkit-box-shadow: 0 0 0 999px var(--color-bg-secondary) inset !important;
  box-shadow: 0 0 0 999px var(--color-bg-secondary) inset !important;
  background-clip: content-box !important;
}

input:-webkit-autofill::first-line {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: 'Noto Sans KR', system-ui, sans-serif;
}
